qdb/
tmp-clearbox/
#src/*/*
#!src/ip
#!src/ip/*.ip
#!src/ip/*.qsys
output_files/*
!output_files/*.rbf
!output_files/achilles_ghrd.sof
#!output_files/*.itb
src/hdl/*.bak
*.bak
*.csv
*.qarlog
*.qdb
*.qws
*_description.txt
*.rpt
*.BAK.qsys
